<%- include('../templates/header')-%>
<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
          <% if(fotos.length < 1) { %> 
            <% } else {%>   
          <%fotos.forEach(function(item) {%>
            <%  
            var reverse = (item.harga).toString().split("").reverse().join(""),
              ribuan = reverse.match(/\d{1,3}/g);
            ribuan = ribuan.join(".").split("").reverse().join(""); %> 
            <% if(users=='null' && item.status=="Belum Bayar" || users.role=='pembeli' && item.status=="Belum Bayar" || users.role=='admin' && item.status=="Belum Bayar") {%>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="../images/<%=item.gambar%>" width="100%" height="225" />
                  <div class="card-body">
                    <b><p class="card-text"><%=item.judul%></p></b>
                    <p class="text"><%=item.deskripsi%></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/viewfoto/<%=item.id %>" type="button" class="btn btn-sm btn-outline-warning">View</a>&nbsp;&nbsp;
                        <% if(users.role=='null' || users.role=='pembeli') {%>
                          <% } %>  
                          <% if( users.role=='penjual') { %>   
                            <a href="/editfoto/<%=item.id %>" type="button" class="btn btn-sm btn-outline-warning">Edit</a>
                            <a href="/deletefoto/<%=item.id %>" type="button" class="btn btn-sm btn-outline-danger"  onclick="return confirm('yakin Anda Menghapus Foto  <%= item.judul %>?')">Hapus</a>
                            <% } %> 
                        <% if(users.role=='admin') { %>   
                        <a href="/deletefoto/<%=item.id %>" type="button" class="btn btn-sm btn-outline-danger"  onclick="return confirm('yakin Anda Menghapus Foto  <%= item.judul %>?')">Hapus</a>
                        <% } %> 
                      </div>
                      <% if (users.role=='pembeli') { %>
                        <form method="POST" action="/transaksi" class="mt-4">
                          <input type="hidden" name="idpenjual" class="form-control" id="id" value="<%=item.iduser %>"/>
                          <input type="hidden" name="idpembeli" class="form-control" id="id" value="<%=users.id %>"/>
                          <input type="hidden" name="id" class="form-control" id="id" value="<%=item.id %>"/>
                          <input type="hidden" name="gambar" class="form-control" id="gambar" value="<%=item.gambar %>"/>
                          <input type="hidden" name="judul" class="form-control" id="judul" value="<%=item.judul %>"/>
                          <input type="hidden" name="harga" class="form-control" id="judul" value="<%=item.harga %>"/>
                          <input type="hidden" name="status" class="form-control" id="status" value="Belum Bayar"/>
                          <small class="text-muted"> <button type="submit" class="btn btn-primary">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                              </svg>
                              Rp.<%=ribuan%></button></small>
                        </form>
                      <% } %>
                      <% if (users=="null" || users.role=="admin") { %>
                        <small class="text-muted">
                          <a href="/login" type="button" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                              <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                              <path
                                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                              />
                            </svg>
                            Rp.<%=ribuan%>
                          </a></small>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>  
              <% if(users.role=='penjual' && users.id == item.iduser && item.status=="Belum Bayar") {%>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../images/<%=item.gambar%>" width="100%" height="225" />
              <div class="card-body">
                <b><p class="card-text"><%=item.judul%></p></b>
                <p class="text"><%=item.deskripsi%></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/viewfoto/<%=item.id %>" type="button" class="btn btn-sm btn-outline-warning">View</a>&nbsp;&nbsp;
                    <% if(users.role=='null' || users.role=='pembeli') {%>
                      <% } %>  
                    <% if(users.role=='admin' || users.role=='penjual') { %>   
                    <a href="/editfoto/<%=item.id %>" type="button" class="btn btn-sm btn-outline-warning">Edit</a>
                    <a href="/deletefoto/<%=item.id %>" type="button" class="btn btn-sm btn-outline-danger"  onclick="return confirm('yakin Anda Menghapus Foto  <%= item.judul %>?')">Hapus</a>
                    <% } %> 
                  </div>
                  <small class="text-muted">
                    <button type="button" class="btn btn-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                        <path
                          d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                        />
                      </svg>
                      Rp.<%=ribuan%>
                    </button></small>
                </div>
              </div>
            </div>
          </div>
          <% } %> 
          <%});%>
          <% } %> 
      </div>
    </div>
  </div>
  <style>
    .text {
      width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>
</main>
<%- include('../templates/footer')-%>
