<%- include('../templates/header')-%>
    <div class="album py-5 bg-light">
        <div class="container">
            <h1>Data Transaksi</h1>
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">NO ID</th>
                                <th scope="col">FOTO</th>
                                <th scope="col">NAMA FOTO</th>
                                <th scope="col">HARGA</th>
                                <th scope="col">STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%transaksis.forEach(function(item) {%>
                                <%  
					var reverse = (item.harga).toString().split("").reverse().join(""),
					  ribuan = reverse.match(/\d{1,3}/g);
					ribuan = ribuan.join(".").split("").reverse().join(""); %> 
                            <% if(item.idpembeli == users.id ){ %> 
                            <tr class="table-light">
                                <th scope="row"><%=item.id %></th>
                                <td><img src="../images/<%=item.gambar %>" width="70" height="100%" alt="<%=item.judul %>"/></td>
                                <td><%=item.judul %></td>
                                <td>Rp.<%=ribuan %></td>
                                <% if (item.status =="Belum Bayar") { %>
                                    <td><p class="bg-warning text-dark"><%=item.status %></p></td>
                                    <% } %>
                                    <% if (item.status =="Sudah Bayar") { %>
                                        <td ><p class="bg-success text-white"><%=item.status %></p></td>
                                        <% } %>
                                <td>
                                    <% if (users.role=='pembeli' && item.status == "Belum Bayar") { %>
                                        <a href="/bayar/<%=item.id %>" type="button" class="btn btn-outline-success">BAYAR</a>
                                        <a href="/deletetransaksi/<%=item.id %>"  type="button" class="btn btn-outline-danger" onclick="return confirm('yakin Anda Menghapus Transaksi <%= item.judul %>?')">HAPUS</a>
                                    <% }else { %>
                                        
                                        <% } %>  
                                </td>
                            </tr>
                            <% } %> 
                            <% if(item.idpenjual == users.id ){ %> 
                                <tr class="table-light">
                                    <th scope="row"><%=item.id %></th>
                                    <td><img src="../images/<%=item.gambar %>" width="70" height="100%" alt="<%=item.judul %>"/></td>
                                    <td><%=item.judul %></td>
                                    <td>Rp.<%=ribuan %></td>
                                    <% if (item.status =="Belum Bayar") { %>
                                        <td><p class="bg-warning text-dark"><%=item.status %></p></td>
                                    <% } %>
                                    <% if (item.status =="Sudah Bayar") { %>
                                        <td ><p class="bg-success text-white"><%=item.status %></p></td>
                                        <% } %>
                                    <td>
                                        <% if (users.role=='pembeli') { %>
                                            <form method="POST" action="/bayar/<%= item.id %>" >
                                            <button type="button" class="btn btn-outline-success">BAYAR</button>
                                        </form>
                                            <a href="/deletetransaksi/<%=item.id %>"  type="button" class="btn btn-outline-danger">HAPUS</a>
                                        <% }else { %>
                                            
                                            <% } %>  
                                    </td>
                                </tr>
                                <% } %> 
                           
                            <%});%>
                       
                               
                               
                                 
                                
                             
                     
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
<script src="javascripts/script.js"></script>
<%- include('../templates/footer')-%>